* {
  font-family: "Bai Jamjuree", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-size: 18px;
  min-width: 100%;
  background-image: url("./images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: 100vw;
}
footer {
  background-color: #d3d3d336;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  height: 150px;
  padding: 1rem;
}
footer .standard-icon {
  margin: 1rem;
}
.main-heading {
  padding: 25px 0 10px 0;
}

a {
  color: white;
}
.top-logo {
  padding-top: 60px;
}
.bold {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.light {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  opacity: 50%;
}
.primary-color1 {
  background-color: hsl(171, 66%, 44%);
  padding: 10px 15px;
  display: inline-block;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
.primary-color2 {
  background-color: hsl(233, 100%, 69%);
  padding: 10px 15px;
  display: inline-block;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
.btn {
  display: flex;
  justify-content: center;
  margin: 20px 0 30px 0;
}
.keep-track {
  padding: 20px 0 10px 0;
}
.keep-track-text {
  padding-bottom: 20px;
}
.footer-links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.footer-link {
  color: gray;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
  width: 33%;
  padding: 1rem;
}
.footer-link:hover {
  color: hsl(171, 66%, 44%);
}
.footer-social {
  width: 150px;
}
.social-media {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.footer-img {
  width: 60px;
}
ul.companies {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 70px 0;
  flex-wrap: wrap;
}

.companies .company {
  min-width: 200px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-logo {
  display: flex;
  justify-content: center;
}
.history-text,
.main-heading,
.keep-track,
.keep-track-text {
  margin: 0 25%;
}
.boxes {
  display: flex;
}
.box {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  padding: 0 1rem;
}
.box-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.cpt-image-area {
  display: flex;
}
.cpt-image {
  width: 60%;
  padding: 1rem;
}
.cpt-image img {
  max-width: 100%;
}

.privileges {
  width: 40%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.privilege {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.privileges .privilege .privilege-title {
  font-weight: 600;
  font-size: 24px;
  text-align: start;
}

.privileges .privilege .privilege-desc {
  font-weight: 400;
  font-size: 12px;
  text-align: start;
  opacity: 50%;
}

.mobile-image {
  display: flex;
  justify-content: center;
}
.mobile-image img {
  max-width: 100%;
}
.access-clipboard {
  margin: 60px 20px;
}
.access-clipboard > div {
  width: 100%;
  padding-top: 10px;
}
.supercharge {
  padding-bottom: 35px;
}
.supercharge-text {
  padding: 10px;
}
.box-title {
  padding: 10px;
}

.box-description {
  padding: 0 8px;
}
.clipboard-text {
  padding: 20px 10px;
  margin: 0 20%;
}
.bottom-btn {
  padding-bottom: 35px;
}
.left-side-item {
  padding: 30px;
}
.inner-element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.primary-color1:hover {
  background-color: #238c7cf7;
}
.primary-color2:hover {
  background-color: #3e4eca;
}
.media:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .boxes {
    display: block;
  }
  .box {
    margin-bottom: 1rem;
    max-width: 400px;
    margin: auto;
  }

  .cpt-image-area {
    display: block;
  }
  .cpt-image {
    margin: auto;
  }
  .privileges {
    width: 60%;
    margin: auto;
    min-width: 450px;
  }
  .privilege {
    align-items: center;
    width: 100%;
  }
  .privileges .privilege .privilege-desc {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 456px) {
  body {
    width: 480px;
    background-image: url("./images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-position: center top ;
    background-size: initial;
  }
}
